{% extends 'AppVPIMs/inicio.html' %}

{% block content %}
<h3>Resultado(s) de la Búsqueda</h3>
{% if guitarras %}
{% for guitarra in guitarras %}
<ul>
<li><b>Marca:</b> {{guitarra.marca}} --- <b>Modelo:</b> {{guitarra.modelo}} --- <b>Año:</b> {{guitarra.anio}} --- <b>Cuerdas:</b> {{guitarra.cuerdas}} --- <b>Descripcion:</b> {{guitarra.descripcion}} --- <b>Precio(US$):</b> {{guitarra.precio}} --- <b>Teléfono de Contacto:</b> {{guitarra.telefono_contacto}} </li>
</ul>
{% endfor %}

{% endif %}

{% endblock %}